<div class="item">
  <div>Nom complet</div>
  <div>
    <input
      class="box-shadow"
      type="text"
      name="name"
      placeholder="Veuillez entrer votre nom complet"
      value="{{ user.name }}"
    >
  </div>
</div>

<div class="item">
  <div>Email</div>
  <div>
    <input
      class="box-shadow"
      type="email"
      name="email"
      placeholder="parexample@eee.com"
      value="{{ user.email }}"
    >
  </div>
</div>

<div class="item">
  <div>Mot de passe</div>
  <div>
    <input
      class="box-shadow"
      type="password"
      name="password"
      placeholder="Veuillez entrer un mot de passe sécurisé"
      value="{{ user.password }}"
    >
  </div>
</div>

{% if not user.id %}
<div class="item">
  <div>Répéter le mot de passe</div>
  <div>
    <input
      class="box-shadow"
      type="password"
      name="passwordRepeat"
      placeholder="Veuillez rentrer le mot de passe"
      value="{{ user.password }}"
    >
  </div>
</div>
{% endif %}

<div class="item">
  <div>CPF ou CNPJ</div>
  <div>
    <input
      class="box-shadow"
      type="text"
      name="cpf_cnpj"
      placeholder="Veuillez entrez votre document"
      value="{{ user.cpf_cnpj }}"
      onkeydown="Mask.apply(this, 'cpfCnpj')"
      maxlength="18"
    >
  </div>
</div>

<div class="item">
  <div>CEP</div>
  <div>
    <input
      class="box-shadow"
      type="text"
      name="cep"
      placeholder="Par example: 12345-678"
      value="{{ user.cep }}"
      onkeydown="Mask.apply(this, 'cep')"
      maxlength="9"
    >
  </div>
</div>

<div class="item">
  <div>Adresse complète</div>
  <div>
    <input
      class="box-shadow"
      type="text"
      name="address"
      placeholder="Veuillez entrez votre adresse complète"
      value="{{ user.address }}"
    >
  </div>
</div>
