<div class="item">
  <div>Votre nom complet</div>
  <div>
    <input
      class="box-shadow"
      type="text"
      name="name"
      value="{{ user.name }}"
      required
    >
  </div>
</div>
<div class="item">
  <div>E-mail</div>
  <div>
    <input
      class="box-shadow"
      type="email"
      name="email"
      value="{{ user.email }}"
      onblur="Validate.apply(this, 'isEmail')"
      required
    >
  </div>
</div>
<div class="item">
  <div>Mot de passe</div>
  <div>
    <input
      class="box-shadow"
      type="password"
      name="password"
      {% if not user.id %}
      placeholder="Au moins 6 caractères"
      {% else %}
      placeholder="Confirmez votre mot de passe pour continuer"
      {% endif %}
      required
    >
  </div>
</div>
{% if not user.id %}
<div class="item">
  <div>Entrez le mot de passe à nouveau</div>
  <div>
    <input
      class="box-shadow"
      type="password"
      name="passwordRepeat"
      required
    >
  </div>
</div>
{% endif %}
<div class="item">
  <div>CPF/CNPJ</div>
  <div>
    <input
      class="box-shadow"
      type="text"
      name="cpf_cnpj"
      value="{{ user.cpf_cnpj }}"
      onkeydown="Mask.apply(this, 'cpfCnpj')"
      onblur="Validate.apply(this, 'isCpfCnpj')"
      maxlength="18"
      required
    >
  </div>
</div>
<div class="item">
  <div>CEP</div>
  <div>
    <input
      class="box-shadow"
      type="text"
      name="cep"
      value="{{ user.cep }}"
      onkeydown="Mask.apply(this, 'cep')"
      onblur="Validate.apply(this, 'isCep')"
      maxlength="9"
      required
    >
  </div>
</div>
<div class="item">
  <div>Votre adresse complète</div>
  <div>
    <input
      class="box-shadow"
      type="text"
      name="address"
      value="{{ user.address }}"
      required
    >
  </div>
</div>