/* === CSS VARS === */
:root {
  --primary-color: hsl(32, 98%, 56%);
  --primary-color-hover: hsl(32, 98%, 46%);
  --secondary-color: hsl(217, 100%, 56%);
  --secondary-color-hover: hsl(217, 100%, 46%);
  --tertiary-color: hsl(0, 78%, 57%);
  --tertiary-color-hover: hsl(0, 78%, 47%);
}

/* === DEFAULT CSS RESETS/CONFIGS === */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
}

body {
  font: 400 14px 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #f9f9f9;

  /* sticky footer*/
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

input, button, textarea, select {
  font: 400 16px 'Roboto', sans-serif;
  width: 100%;
  border-radius: 2px;
}

button {
  cursor: pointer;
}

input[type=file], /* FF, IE7+, chrome (except button) */
input[type=file]::-webkit-file-upload-button { /* chromes and blink button */
  cursor: pointer;
}

.container {
  width: 90%;
  max-width: 940px;
  margin: 0 auto;
}

/* === TOOLTIP FORM === */
.tooltip-container {
  display: flex;
  align-items: center;
}

.tooltip {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 4px;
}

.tooltip i {
  font-size: 16px;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 150px;
  padding: 2px 0;

  color: #fff;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  border-radius: 2px;
  background-color: #777;

  position: absolute;
  z-index: 1;
  left: 150%;
}

.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -4px;
  border-width: 4px;
  border-style: solid;
  border-color: transparent #777 transparent transparent;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
}

.box-shadow {
  box-shadow: 2px 2px 2px -2px rgba(63, 63, 63, .2);
  border: 1px solid #f0f0f0;
  padding: 8px 16px;
}

.button {
  background-color: var(--primary-color);
  color: #fff;

  display: block;
  margin: 16px 0;
  padding: 12px 16px;

  border-radius: 4px;

  /* in display grid */
  align-self: end;

  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;

  transition: all 200ms;
}

.button:hover {
  background-color: var(--primary-color-hover);
}

.button.edit {
  background-color: var(--secondary-color);
}

.button.edit:hover {
  background-color: var(--secondary-color-hover);
}

.button.delete {
  background-color: gray;
}

.button.delete:hover {
  background-color: var(--tertiary-color-hover);
}

/* === HEADER === */
header, footer {
  background-color: #000;
  color: #fff;
  width: 100%;
  padding: 32px 0;
  text-align: center;
}

header div.container {
  display: grid;
  grid-template-columns: 220px auto 280px;
  align-items: center;
  gap: 24px;
}

header div.container a {
  justify-self: start;
  padding: 4px;
}

/* === LOGO === */
.logo h1 {
  color: #fff;
  font-size: 36px;
  line-height: 46px;
}

.logo h2 {
  color: var(--primary-color);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2px;
}

/* === HEADER SEARCH === */
.search input {
  padding: 8px 16px;
}

/* === PRIMARY MENU === */
nav.primary ul {
  display: flex;
  justify-content: space-evenly;
}

nav.primary ul li a {
  display: flex;
  align-items: center;
  color: #fff;
  transition: 200ms;
}

nav.primary ul li a i {
  margin-right: 8px;
}

nav.primary ul li a:hover {
  color: var(--primary-color);
}

/* === PRODUCT FROM === */
section.form {
  background-color: #fff;
  padding: 32px 24px;
  margin: 32px auto;

  max-width: 700px;
  width: 90%;

  border-radius: 2px;
}

section.form .header h3 {
  line-height: 24px;
  letter-spacing: 0.7px;
  text-transform: uppercase;

  font-weight: 700;
  color: var(--primary-color);

  margin-bottom: 16px;
}

form .fields {
  margin-bottom: 64px;
}

form .item {
  margin-bottom: 16px;
}

form .item > div:nth-child(1) {
  color: #777;
  text-transform: uppercase;
  font-weight: 700;

  margin-bottom: 8px;
}

form .item select {
  /* allowing styling in select */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  /* bringing back the side icon */
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#f0f0f0 100%);
  background-repeat: no-repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}

form .item textarea {
  min-height: 150px;
}

form .item span.status {
  padding: 8px 16px;
  background-color: var(--secondary-color);
  border-radius: 16px;
  color: #fff;

  margin-right: 4px;
  margin-top: 8px;
  display: inline-block; /* span needs to set margin */

  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}

form .item span.status input[type="radio"] {
  width: initial;
  vertical-align: middle;
}

input, select, textarea {
  color: #333;
}

/* === PHOTOS UPLOAD === */
form .item #photos-upload {
  position: relative;

  display: block;
  overflow: hidden;

  width: 200px;
}

form .item #photos-upload p {
  padding: 8px 16px;
  border-radius: 4px;
  box-shadow: 0 2px 2px -6px #333;
  background-color: var(--secondary-color);
  color: #fff;
  width: 100%;

  text-align: center;
  text-transform: uppercase;
}

/* the user will be clicking in the hidden input */
form .item #photos-input {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
}

form .item #photos-preview {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  width: 100%;
  margin: 8px 0;
}

form .item #photos-preview img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

form .item #photos-preview .photo {
  position: relative;
}

form .item #photos-preview .photo i {
  position: absolute;
  top: 0;
  left: 0;

  background-color: rgba(255, 255, 255, 0.8);
  color: var(--tertiary-color);

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 300%;
  cursor: pointer;

  opacity: 0;
  transition: opacity 200ms;
}

form .item #photos-preview .photo:hover i {
  opacity: 1;
}

/* === PRODUCT VIEW === */
.product-single {
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;

  padding: 32px 24px;
  margin: 32px auto;

  border-radius: 2px;
}

/* === PRODUCT GALLERY === */
.product-single .gallery {
  width: 100%;
}

.product-single .highlight > img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  object-position: 50% 50%;
  border: 1px solid #f0f0f0;

  cursor: zoom-in;
}

.product-single .gallery-preview {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
}

.product-single .gallery-preview img {
  height: 100px;
  width: 100%;
  object-fit: cover;
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 200ms;
}

.product-single .gallery-preview img:hover,
.product-single .gallery-preview img.active {
  opacity: 1;
}

/* === LIGHTBOX PRODUCT GALLERY === */
.product-single .highlight .lightbox-target {
  position: fixed;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, .7);

  overflow: hidden;
  z-index: 100;

  top: -100%;
  left: 0;

  opacity: 0;
  transition: opacity 400ms;
}

.product-single .highlight .lightbox-target img {
  margin: auto;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-color: #fff;
  box-shadow: 0 0 8px rgb(0, 0, 0, .3);

  width: 80%;
  height: 80%;
  max-width: 940px;
  max-height: 940px;

  object-fit: contain;
}

.product-single .highlight a.lightbox-close {
  width: 50px;
  height: 50px;
  color: #fff;
  position: absolute;
  top: -80px;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 400ms;
}
.product-single .highlight a.lightbox-close i {
  font-size: 2em;
}

/* === PRODUCT SINGLE INFO === */
.product-single .info {
  display: grid;
  grid-template-rows: auto 40px 2fr 1fr;
}

.product-single .info h1 {
  font-size: 32px;
  line-height: 42px;
  color: #333;
  text-transform: uppercase;
}

.product-single .info .published {
  color: #888;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.4px;
}

/* === PRICE-BUY === */
.product-single .price-buy {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 8px;
  border-top: 1px solid #eee;
}

.product-single .price-buy .price {
  font-size: 24px;
  color: #333;
  font-weight: 700;

  display: flex;
  align-items: center;
}

.product-single .price-buy .price .old {
  text-decoration: line-through;
  color: #999;
  font-size: 14px;
  font-weight: 400;
  margin-left: 8px;
}

.product-single .price-buy .buy button {
  background-color: var(--secondary-color);
  font-size: 14px;
  letter-spacing: .4px;
}

/* === SHOP === */
.shop h2 {
  text-transform: uppercase;
  margin: 48px 0;
}

.shop .items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 32px;
}

.shop .product {
  display: grid;
}

.shop .product .image {
  padding-top: 56.25%;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.shop .items h4 {
  margin: 8px 0;
  font-weight: 300;
  color: #999;
}

.shop .items p {
  color: #101010;
  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
  margin-top: 8px;
}

.shop .product .old-price {
  padding: 0;
  margin: 4px 0;
  color: #999;
  text-decoration: line-through;
}

/* === SEARCH PAGE === */
.search-products {
  display: grid;
  grid-template-columns: 200px 1fr;
  margin-top: 48px;
}

.search-products .header {
  margin-bottom: 48px;
  color: #333;
}

.search-products .header h2 {
  font-size: 26px;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.search-products nav h4 {
  margin-bottom: 16px;
  color: #333;
  font-size: 14px;
  text-transform: uppercase;
}

.search-products nav ul li {
  margin: 4px 0;
}

.search-products nav ul li a {
  color: #777;
  transition: 200ms;
}

.search-products nav ul li a:hover {
  color: #000;
  font-weight: 700;
}

/* === ERROR MESSAGE === */
.item .error {
  background-color: #e74c3c;
  padding: 4px 8px;
  border-radius: 4px;
  color: #fff;
}
