@keyframes hidemessage {
  from {
    top: 0;
    opacity: 1;
  }
  to {
    top: -50px;
    opacity: 0;
  }
}

@keyframes showmessage {
  from {
    top: -50px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.messages {
  display: flex;
  justify-content: center;
  padding: 16px;
  position: fixed;
  width: 100%;
  color: #fff;
  top: 0;
  opacity: 1;
  animation: showmessage 400ms 0s ease-out forwards, hidemessage 400ms 4s ease-out forwards;
}

.messages.error {
  background-color: hsl(0, 78%, 57%);
}

.messages.success {
  background-color: hsl(84, 72%, 42%);
}
