.search-products {
  display: grid;
  grid-template-columns: 200px 1fr;
  margin-top: 48px;
}

.search-products .header {
  margin-bottom: 48px;
  color: #333;
}

.search-products .header h2 {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.search-products nav h4 {
  margin-bottom: 16px;
  color: #333;
  font-size: 14px;
  text-transform: uppercase;
}

.search-products nav ul li {
  margin: 4px 0;
}

.search-products nav ul li a {
  color: #777;
  transition: 200ms;
}

.search-products nav ul li a:hover {
  color: #000;
  font-weight: 700;
}
